<template id="app-header-template">
  <div class="container">
    <div class="jumbotron">
      <img src="../assets/logo.png" />
      <h1>Welcome to the jungle!</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app-header'
}
</script>

<style>
</style>
